---
---

@import "{{ site.theme }}";

.project-tagline {
  white-space: pre;
  text-align: left;
}

.project-name {
  text-align: left;
}

// Override the padding within the media queries
@media screen and (min-width: 64em) {
  .page-header {
    padding: 2rem 5rem; // New padding values for screens larger than 1024 pixels
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 2rem 4rem; // New padding values for screens larger than 1024 pixels
  }
}

.main-content {
  background-color: rgb(5, 36, 52);
  max-width: none;
}

.linkedin-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none !important;
}

.linkedin-button:hover {
  background-color: #005e91;
}
